%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    mosaic => {
      SubDirectory => { TagTable => 'Image::ExifTool::UserDefined::Mosaic' },
    },
  },
);

%Image::ExifTool::UserDefined::Mosaic = (
  GROUPS => { 0 => 'XMP', 1 => 'XMP-mosaic', 2 => 'Image' },
  NAMESPACE => { mosaic => 'https://mosaic.app/ns/1.0/' },
  WRITABLE => 'string',
  MediaId => {},
);

1;
